nav{
    background: linear-gradient(90deg, rgb(99, 255, 91) 0%, rgb(12, 155, 138) 60%, rgb(91, 211, 255) 100%);
    width: 100%;
}
nav>div>ul{
    display: flex;
    justify-content: space-between;
    gap: 0.3em;
    font-size: 1.5em;
    padding: .5em;
}
nav>div>ul>li,a{
   
    list-style-type: none;
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}